.tabs { 
  @media (max-width: $breakpoint-lg) {
    margin-top: 40px;
  }
  &-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    @media (max-width: $breakpoint-md) {
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 20px;
    }
    &__item {
      margin: 0 20px;
      @media (max-width: $breakpoint-lg) {
        margin: 0 16px;
      }
      @media (max-width: $breakpoint-md) {
        width: 48%;
        margin: 0 0 15px 0;
      }
      &_link {
        color: #777777;
        @include transition(.3);
        cursor: pointer;
        position: relative;
        display: inline-block;
        @media (max-width: $breakpoint-md) {
          border: 1px solid #ae3238;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 6px;
          border-radius: 4px;
          color: $redColor;
        }
        &:before {
          content: '';
          background: $redColor;
          position: absolute;
          bottom: 2px;
          left: 0;
          width: 0;
          height: 2px;
          opacity: 0;
          @include transition(.3);
          @media (max-width: $breakpoint-md) {
            display: none;
          }
        }
        &.active, &:hover {
          color: $redColor;
          @media (max-width: $breakpoint-md) {
            background: $redColor;
            color: $whiteColor;
          }
          &:before {
            opacity: 1;
            width: 100%;
          }
        }
      }
    }
  }

  &-wrap {
    width: 100%;
    .tab-content {
      display: none;
      animation: fadeEffect .5s;
      -webkit-animation: fadeEffect .5s;
      &.is-show {
        display: block;
      }
      &.active {
        display: block;
      }
    }
  }
}



@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}