.tabs { 
  &-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    @media (max-width: $breakpoint-lg) {
      flex-direction: column;
    }
    &__item {
      margin: 0 20px;
      &_link {
        color: #777777;
        display: block;
        @include transition(.3);
        cursor: pointer;
        position: relative;
        &:before {
          content: '';
          background: $redColor;
          position: absolute;
          bottom: 2px;
          left: 0;
          width: 0;
          height: 2px;
          opacity: 0;
          @include transition(.3);
        }
        &.active, &:hover {
          color: $redColor;
          &:before {
            opacity: 1;
            width: 100%;
          }
        }
      }
    }
  }

  &-wrap {
    width: 100%;
    .tab-content {
      display: none;
      animation: fadeEffect .5s;
      -webkit-animation: fadeEffect .5s;
      &.is-show {
        display: block;
      }
      &.active {
        display: block;
      }
    }
  }
}



@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}